.Button {
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid currentcolor;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: .4em .75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: normal;
}

.button--launcher{
  position: fixed;
  right: 20px;
  bottom: 20px;

  border-radius: 999rem;
  border: 0;
  font-size: 14px;
  z-index: $z-button;
  background: $bg_btn;
  color: #fff;
  padding: 10px 20px;

  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  opacity: 1;
  @include transition(all 0.2s ease-in);

  &.animateOutBtn{
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 80, 0, 1);
	opacity: 0;
  }
  .icon--launcher{
	color: #fff;
	fill: #fff;
	float: left;
  }
  .text--launcher{
	vertical-align: middle;
	color: #fff;
	font-weight: 700;
	margin-top: 2px;
	margin-left: 10px;
	height: 20px;
	display: inline-block;
  }
}