.widget--container__content{

  label{
	font-size: 12px;
	width: 100%;
	display: block;
	margin-top: 8px;
  }
  input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .input-text{
	width: 100%;
	display: block;
	background: #fff;
	border: .09167rem solid #dadada;
	border-radius: .33333rem;
	padding: .75rem .83333rem .83333rem;
	color: #939393;
	height: 38px;
  }
  .button--submit{
	border-radius: 50%;
	background: $bg_btn;
	padding: 12px 10px;
	width: 100%;
	margin-top: 12px;
	font-size: 12px;
	border-radius: 20px;
  }
}