
.popover {
  opacity: 0;
  width: 400px;
  z-index: 1000001;
  position: fixed;
  top: 85px;
  right: 20px;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0 5px 60px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 60px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.4);

  font-size: 15px;
  white-space: normal;
  padding: 10px;
  .popover__content {
	padding: 10px;
	height: 70px;
	.popover__content__image {
	  max-width: 40px;
	  padding: 2px;
	  display: inline-block;
	  border-radius: 50%;
	  margin-right: 10px;
	}
	.popover__content__message {
	  color: $c_text;
	  display: inline-block;
	  width: 300px;
	}
	.popover__content__datetime {
	  color: $c_text;
	  white-space: nowrap;
	  display: inline;
	  font-size: 13px; }
  }
}
@media only screen and (max-width: 40em) {
  .popover .popover-content .notification-message {
	width: 280px; }
}