.widget--container{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: $z-container;
  width: 342px;
  padding-bottom: 16px;

  margin: 15px;
  border-radius: .66667rem;
  box-shadow: 0 0 .5rem 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  background: #fff;

  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 480, 0, 1);
  opacity: 0;
  @include transition(all 0.4s ease-in);

  &.animateInWidget{
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	opacity: 1;
  }

  .widget--container__header{
	height:45px;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 10px 20px;
	.widget--container__title{
	  font-size: 14px;
	  font-weight: bold;
	}
	.icon--close{
	  display: inline-block;
	  float: right;
	  fill: $icon_close;
	  cursor: pointer;
	}
  }
  .widget--container__content{
	padding: 20px;
	overflow-y: scroll;
	height: 250px;
	&::-webkit-scrollbar {
	  box-shadow: none;
	  width: .25rem;
	}
	&::-webkit-scrollbar-thumb {
	  background: #e4e4e4;
	  border-radius: .25rem;
	}
	&::-webkit-scrollbar-track {
	  margin: 1.25rem 0;
	}
  }

}